# Medical Insurance Premium Prediction

The amount of the premium for a health insurance policy depends from person to person, as many factors affect the amount of the premium for a health insurance policy. Letâ€™s say age, a young person is very less likely to have major health problems compared to an older person. Thus, treating an older person will be expensive compared to a young one. That is why an older person is required to pay a high premium compared to a young person.

Just like age, many other factors affect the premium for a health insurance policy. Hope you now have understood what health insurance is and how the premium for a health insurance policy is determined. In the section below, I will take you through the task of health insurance premium prediction with machine learning using Python.

Dataset :- https://www.kaggle.com/tejashvi14/medical-insurance-premium-prediction

In [73]:
#import libraries
import numpy as np #2 perform mathematical operations on arrays
import pandas as pd #for data analysis

from xgboost import XGBRegressor #gradient boosting model used for regression predictive modeling
from sklearn.model_selection import train_test_split #measure the accuracy of the model 
from sklearn.model_selection import cross_val_score #statistical method used to estimate the performance (or accuracy) of machine learning models

In [74]:
#load the dataset 2 pandas data frame for manupulating the data
data = pd.read_csv('Medicalpremium.csv', encoding = 'latin-1')

#now v hv 2 replace null values with null string otherwise it will show errors
#v will store this in variable claaed "data"
medical_premium_data = data.where((pd.notnull(data)), '')

#lets check the shape of the dataset
medical_premium_data.shape

(986, 11)

In [75]:
#printing the dataset
print(medical_premium_data)

     Age  Diabetes  BloodPressureProblems  AnyTransplants  AnyChronicDiseases  \
0     45         0                      0               0                   0
1     60         1                      0               0                   0
2     36         1                      1               0                   0
3     52         1                      1               0                   1
4     38         0                      0               0                   1
..   ...       ...                    ...             ...                 ...
981   18         0                      0               0                   0
982   64         1                      1               0                   0
983   56         0                      1               0                   0
984   47         1                      1               0                   0
985   21         0                      0               0                   0

     Height  Weight  KnownAllergies  HistoryOfCancerInFamily  \
0       155      57               0                        0
1       180      73               0                        0
2       158      59               0                        0
3       183      93               0                        0
4       166      88               0                        0
..      ...     ...             ...                      ...
981     169      67               0                        0
982     153      70               0                        0
983     155      71               0                        0
984     158      73               1                        0
985     158      75               1                        0

     NumberOfMajorSurgeries  PremiumPrice
0                         0         25000
1                         0         29000
2                         1         23000
3                         2         28000
4                         1         23000
..                      ...           ...
981                       0         15000
982                       3         28000
983                       1         29000
984                       1         39000
985                       1         15000

[986 rows x 11 columns]

### Printing the head of the dataset to have a look at the dataframe

In [76]:
#lets c sample of this dataset in pandas data frame
#first 10 rows of the dataset
medical_premium_data.head(10)

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries,PremiumPrice
0,45,0,0,0,0,155,57,0,0,0,25000
1,60,1,0,0,0,180,73,0,0,0,29000
2,36,1,1,0,0,158,59,0,0,1,23000
3,52,1,1,0,1,183,93,0,0,2,28000
4,38,0,0,0,1,166,88,0,0,1,23000
5,30,0,0,0,0,160,69,1,0,1,23000
6,33,0,0,0,0,150,54,0,0,0,21000
7,23,0,0,0,0,181,79,1,0,0,15000
8,48,1,0,0,0,169,74,1,0,0,23000
9,38,0,0,0,0,182,93,0,0,0,23000

### Printing the tail of the dataset to have a look at the dataframe

In [77]:
#last 10 rows of the dataset
medical_premium_data.tail(10)

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries,PremiumPrice
976,21,0,1,0,0,155,74,0,0,0,39000
977,45,0,1,0,1,157,67,0,0,1,25000
978,40,0,1,1,0,168,70,0,0,0,17000
979,24,0,0,0,0,161,71,0,0,0,15000
980,40,0,1,1,0,171,74,0,0,0,38000
981,18,0,0,0,0,169,67,0,0,0,15000
982,64,1,1,0,0,153,70,0,0,3,28000
983,56,0,1,0,0,155,71,0,0,1,29000
984,47,1,1,0,0,158,73,1,0,1,39000
985,21,0,0,0,0,158,75,1,0,1,15000

In [78]:
#dataset informations
medical_premium_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      986 non-null    int64
 1   Diabetes                 986 non-null    int64
 2   BloodPressureProblems    986 non-null    int64
 3   AnyTransplants           986 non-null    int64
 4   AnyChronicDiseases       986 non-null    int64
 5   Height                   986 non-null    int64
 6   Weight                   986 non-null    int64
 7   KnownAllergies           986 non-null    int64
 8   HistoryOfCancerInFamily  986 non-null    int64
 9   NumberOfMajorSurgeries   986 non-null    int64
 10  PremiumPrice             986 non-null    int64
dtypes: int64(11)
memory usage: 84.9 KB

In [79]:
#data preprocessing 2 check whether if there r any empty values
#checking the number of missing values in each column
medical_premium_data.isnull().sum()

Age                        0
Diabetes                   0
BloodPressureProblems      0
AnyTransplants             0
AnyChronicDiseases         0
Height                     0
Weight                     0
KnownAllergies             0
HistoryOfCancerInFamily    0
NumberOfMajorSurgeries     0
PremiumPrice               0
dtype: int64

In [80]:
#statistical Measures of the dataset
medical_premium_data.describe()

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries,PremiumPrice
count,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000
mean,41.745436,0.419878,0.468560,0.055781,0.180527,168.182556,76.950304,0.215010,0.117647,0.667343,24336.713996
std,13.963371,0.493789,0.499264,0.229615,0.384821,10.098155,14.265096,0.411038,0.322353,0.749205,6248.184382
min,18.000000,0.000000,0.000000,0.000000,0.000000,145.000000,51.000000,0.000000,0.000000,0.000000,15000.000000
25%,30.000000,0.000000,0.000000,0.000000,0.000000,161.000000,67.000000,0.000000,0.000000,0.000000,21000.000000
50%,42.000000,0.000000,0.000000,0.000000,0.000000,168.000000,75.000000,0.000000,0.000000,1.000000,23000.000000
75%,53.000000,1.000000,1.000000,0.000000,0.000000,176.000000,87.000000,0.000000,0.000000,1.000000,28000.000000
max,66.000000,1.000000,1.000000,1.000000,1.000000,188.000000,132.000000,1.000000,1.000000,3.000000,40000.000000

Splitting the Features and Target

In [81]:
#assigning features as X
#v r gonna drop the class column 
#as v r droping the column v need 2 mention axis = 1
X = medical_premium_data.drop(columns='PremiumPrice', axis=1)

#assigning targets as Y
Y = medical_premium_data['PremiumPrice']

In [82]:
print(X) #printing the features
print("---------------------------------------------------------------------------------------------")
print(Y) #printing the target

     Age  Diabetes  BloodPressureProblems  AnyTransplants  AnyChronicDiseases  \
0     45         0                      0               0                   0
1     60         1                      0               0                   0
2     36         1                      1               0                   0
3     52         1                      1               0                   1
4     38         0                      0               0                   1
..   ...       ...                    ...             ...                 ...
981   18         0                      0               0                   0
982   64         1                      1               0                   0
983   56         0                      1               0                   0
984   47         1                      1               0                   0
985   21         0                      0               0                   0

     Height  Weight  KnownAllergies  HistoryOfCancerInFamily  \
0       155      57               0                        0
1       180      73               0                        0
2       158      59               0                        0
3       183      93               0                        0
4       166      88               0                        0
..      ...     ...             ...                      ...
981     169      67               0                        0
982     153      70               0                        0
983     155      71               0                        0
984     158      73               1                        0
985     158      75               1                        0

     NumberOfMajorSurgeries
0                         0
1                         0
2                         1
3                         2
4                         1
..                      ...
981                       0
982                       3
983                       1
984                       1
985                       1

[986 rows x 10 columns]
---------------------------------------------------------------------------------------------
0      25000
1      29000
2      23000
3      28000
4      23000
       ...
981    15000
982    28000
983    29000
984    39000
985    15000
Name: PremiumPrice, Length: 986, dtype: int64

## Dividing data into train and test data using sklearn's train_test_split()

In [83]:
#spliting the dataset in2 Training & Testing

#test size --> 2 specify the percentage of test data needed ==> 0.2 ==> 20%

#random state --> specific split of data each value of random_state splits the data differently, v can put any state v want
#v need 2 specify the same random_state everytym if v want 2 split the data the same way everytym
X_train, X_test, Y_train, Y_test = train_test_split(X.values, Y.values, test_size = 0.2, random_state = 2)

In [84]:
#lets c how many examples r there for each cases
#checking dimensions of Features
print(X.shape, X_train.shape, X_test.shape)

(986, 10) (788, 10) (198, 10)

In [85]:
#lets c how many examples r there for each cases
#checking dimensions of Targets
print(Y.shape, Y_train.shape, Y_test.shape)

(986,) (788,) (198,)

## Our data is ready to be applied a machine learning algorithm

## XGBoost Regressor

This is type of Decision Tree based ensemble model(use 1 or more model so its lyk incorporating 2 or more models together)

In [86]:
# loading the model
# training the model with training data
model = XGBRegressor().fit(X_train, Y_train)

[04:44:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

Evaluation

Prediction on training data

In [87]:
# accuracy for prediction on training data
training_data_prediction = model.predict(X_train)
training_data_prediction

array([29594.854 , 28790.062 , 28575.408 , 14265.516 , 24974.87  ,
       14866.936 , 15979.672 , 15508.825 , 28971.584 , 23272.492 ,
       27680.537 , 28327.404 , 28387.502 , 16189.781 , 27890.223 ,
       28906.924 , 29084.477 , 33600.04  , 22952.07  , 36981.25  ,
       27370.951 , 16967.479 , 16505.916 , 24951.338 , 28358.611 ,
       17292.85  , 15808.93  , 33647.188 , 22481.506 , 15833.407 ,
       22544.473 , 23704.086 , 22095.467 , 16837.512 , 27478.145 ,
       24720.068 , 22841.309 , 23293.637 , 14816.766 , 26300.713 ,
       24439.582 , 25707.887 , 31443.729 , 16326.456 , 25050.812 ,
       24029.496 , 28536.186 , 29882.512 , 23715.158 , 14631.632 ,
       15564.138 , 15540.994 , 28192.957 , 21967.516 , 23483.951 ,
       17900.924 , 22759.176 , 23926.418 , 15534.99  , 27719.408 ,
       27470.807 , 27957.756 , 29904.611 , 14680.438 , 14599.995 ,
       31734.125 , 15595.4795, 15079.911 , 25533.389 , 23991.129 ,
       34069.76  , 32060.379 , 27748.629 , 33380.62  , 32340.861 ,
       15074.716 , 23498.066 , 23355.133 , 16176.347 , 24784.72  ,
       23395.727 , 24903.389 , 26488.666 , 29974.797 , 29784.03  ,
       26453.25  , 27996.371 , 27149.666 , 28581.29  , 25277.414 ,
       34243.008 , 28367.15  , 28365.525 , 26486.773 , 14358.548 ,
       26228.217 , 15400.699 , 27636.818 , 15604.508 , 28419.432 ,
       22728.143 , 22688.207 , 15592.159 , 27669.22  , 21975.158 ,
       24354.87  , 25260.135 , 23383.564 , 30929.83  , 25678.459 ,
       23273.574 , 28336.527 , 21967.516 , 15912.232 , 14355.313 ,
       28743.734 , 23106.893 , 35226.44  , 23059.873 , 19573.951 ,
       26862.115 , 28451.223 , 25047.77  , 27799.55  , 29599.254 ,
       24117.986 , 28327.404 , 28665.459 , 15805.578 , 20175.223 ,
       33971.527 , 15773.553 , 33485.953 , 37148.766 , 27366.91  ,
       16317.871 , 15520.704 , 28877.674 , 34806.73  , 27760.926 ,
       15512.323 , 28338.186 , 29855.113 , 15967.872 , 26107.135 ,
       22577.703 , 28781.156 , 23701.215 , 31665.467 , 29331.816 ,
       22343.104 , 28795.836 , 27683.523 , 16935.908 , 25117.041 ,
       23253.701 , 15540.994 , 29761.408 , 22630.715 , 24196.521 ,
       24634.49  , 17865.633 , 23598.049 , 15975.724 , 27020.574 ,
       27706.555 , 16081.326 , 15483.123 , 22781.115 , 28615.36  ,
       28509.668 , 17346.316 , 24466.707 , 22325.717 , 15445.898 ,
       22830.963 , 21833.268 , 22562.4   , 21241.395 , 27002.807 ,
       15658.039 , 15233.006 , 14631.632 , 21497.324 , 28557.75  ,
       16112.56  , 22851.973 , 28101.627 , 14680.438 , 25826.352 ,
       15602.932 , 28192.906 , 23039.412 , 15295.681 , 29291.412 ,
       17132.324 , 15808.93  , 33697.273 , 24250.469 , 28354.57  ,
       25246.645 , 15808.157 , 16364.747 , 16365.797 , 28483.703 ,
       34381.855 , 16941.574 , 28794.36  , 23361.316 , 33766.406 ,
       27635.156 , 27472.264 , 28440.74  , 22481.506 , 25503.865 ,
       37639.973 , 15025.276 , 23817.195 , 22907.293 , 35660.414 ,
       26527.422 , 27760.926 , 19992.846 , 35016.137 , 24283.004 ,
       27981.457 , 21496.959 , 37686.117 , 23658.27  , 31541.092 ,
       14798.729 , 34530.387 , 27721.258 , 22549.328 , 30122.375 ,
       27072.229 , 24634.49  , 28401.928 , 15229.128 , 28563.111 ,
       23354.824 , 15407.8125, 37543.96  , 23654.357 , 16253.081 ,
       24854.42  , 16253.887 , 28787.178 , 25090.748 , 27237.527 ,
       27291.967 , 27082.236 , 28408.162 , 22843.031 , 25527.65  ,
       14726.496 , 25863.574 , 32317.904 , 23784.002 , 34627.613 ,
       15474.726 , 37075.7   , 26497.104 , 33746.344 , 23395.074 ,
       24379.205 , 23390.24  , 23741.082 , 22630.715 , 23849.193 ,
       15518.131 , 27717.963 , 22648.602 , 28983.72  , 24473.135 ,
       27955.348 , 28447.785 , 36993.38  , 23797.158 , 29112.287 ,
       26589.625 , 15579.267 , 16767.684 , 29821.357 , 22576.37  ,
       15022.099 , 14443.603 , 25352.621 , 25468.254 , 28060.363 ,
       22997.98  , 25730.92  , 16698.24  , 25846.672 , 22893.283 ,
       27691.723 , 28507.562 , 33584.64  , 29637.814 , 28562.234 ,
       25185.611 , 28574.812 , 16992.69  , 24761.006 , 22649.17  ,
       27926.262 , 27669.22  , 27815.441 , 28408.162 , 28562.234 ,
       30175.35  , 15229.128 , 36285.055 , 25059.006 , 29130.293 ,
       23190.934 , 23780.008 , 26742.441 , 15881.734 , 14781.008 ,
       28459.367 , 30039.176 , 23554.176 , 17350.352 , 16209.705 ,
       28411.361 , 30852.174 , 25271.629 , 28431.988 , 14383.928 ,
       16097.16  , 28755.973 , 16358.646 , 26720.646 , 34625.816 ,
       22863.74  , 27644.885 , 28242.46  , 27585.227 , 26334.084 ,
       22807.336 , 23780.008 , 35333.633 , 15627.27  , 21526.523 ,
       23431.576 , 20263.803 , 21074.732 , 28420.463 , 24412.08  ,
       16096.712 , 14383.928 , 16036.242 , 33914.906 , 26718.69  ,
       25986.176 , 26637.469 , 16547.887 , 22131.838 , 23819.943 ,
       28344.54  , 22713.693 , 21408.111 , 15610.806 , 26526.055 ,
       22813.818 , 36337.938 , 27608.33  , 25449.473 , 33036.504 ,
       26205.268 , 24288.885 , 25786.469 , 27927.492 , 23498.768 ,
       20659.707 , 26504.967 , 27535.283 , 29433.977 , 15119.644 ,
       30544.393 , 28661.176 , 15727.535 , 28495.812 , 27072.229 ,
       29855.113 , 26425.238 , 23412.049 , 15564.138 , 16365.797 ,
       30142.31  , 23120.408 , 23846.428 , 21431.66  , 18463.85  ,
       15382.294 , 19894.062 , 21599.236 , 24790.213 , 25642.516 ,
       16204.974 , 31944.307 , 32143.676 , 26963.902 , 14897.209 ,
       23253.701 , 17373.521 , 27249.354 , 28467.906 , 27536.379 ,
       28410.564 , 23806.492 , 28468.357 , 14383.928 , 22275.898 ,
       24412.08  , 15462.65  , 15099.023 , 23719.64  , 20100.012 ,
       25547.959 , 23163.05  , 22253.814 , 22649.17  , 22964.568 ,
       15727.535 , 27984.646 , 19820.088 , 25357.742 , 16165.238 ,
       19839.66  , 34084.04  , 24288.885 , 14832.7295, 28032.467 ,
       28416.404 , 29228.662 , 16695.768 , 26183.088 , 27017.762 ,
       22925.748 , 24545.418 , 15659.478 , 27731.523 , 22533.121 ,
       28411.361 , 25747.822 , 29726.637 , 27922.182 , 28450.5   ,
       22873.984 , 32389.953 , 28511.32  , 28538.576 , 24945.215 ,
       15830.462 , 16410.926 , 27539.846 , 23480.398 , 23685.307 ,
       22630.715 , 16377.283 , 24732.424 , 25134.547 , 21470.486 ,
       31850.08  , 26652.09  , 28462.025 , 28522.309 , 15168.459 ,
       23186.914 , 25131.51  , 16635.416 , 15178.408 , 26546.574 ,
       28769.83  , 24379.205 , 16165.139 , 24647.594 , 28779.703 ,
       29467.37  , 26494.547 , 27736.773 , 27479.045 , 30460.764 ,
       28855.707 , 27023.127 , 16456.996 , 27704.342 , 17698.092 ,
       30704.664 , 27655.406 , 34365.582 , 27016.627 , 15089.451 ,
       25811.062 , 29708.686 , 27677.283 , 18093.006 , 23154.08  ,
       27674.95  , 24476.791 , 31116.021 , 29960.822 , 28347.03  ,
       27734.693 , 15355.56  , 16700.984 , 25270.703 , 23461.879 ,
       17014.754 , 24288.885 , 24379.205 , 27596.082 , 15192.649 ,
       31635.322 , 15787.132 , 23117.447 , 18471.877 , 15669.593 ,
       22282.305 , 23253.701 , 23989.902 , 33358.97  , 24509.887 ,
       14575.641 , 22831.686 , 31075.557 , 25316.045 , 15350.041 ,
       22688.207 , 28510.754 , 26848.33  , 21751.104 , 16075.585 ,
       27072.229 , 25322.312 , 28759.559 , 27790.666 , 15343.997 ,
       30914.918 , 22095.467 , 27411.3   , 25200.404 , 30829.445 ,
       29451.08  , 27644.885 , 15604.508 , 28493.955 , 14631.632 ,
       24696.377 , 25666.375 , 29312.129 , 31580.328 , 28245.932 ,
       26605.783 , 15242.671 , 15381.232 , 15504.405 , 24288.885 ,
       39145.758 , 27579.266 , 20280.396 , 24314.934 , 23573.336 ,
       27644.885 , 27146.752 , 28312.508 , 23744.883 , 24634.49  ,
       26998.152 , 23378.14  , 24742.582 , 24649.31  , 23583.549 ,
       15424.047 , 25203.945 , 23313.43  , 24164.592 , 15282.752 ,
       28312.508 , 17462.043 , 16837.512 , 23224.125 , 28237.467 ,
       28532.254 , 22557.824 , 27121.49  , 22867.357 , 22791.027 ,
       23210.525 , 23589.824 , 25623.885 , 23453.947 , 15020.236 ,
       15382.294 , 27544.129 , 22824.438 , 25185.611 , 25970.643 ,
       27123.719 , 15196.625 , 15931.8955, 27573.02  , 26430.275 ,
       23303.7   , 24181.111 , 25209.47  , 28582.086 , 20797.941 ,
       23317.186 , 15721.415 , 15294.289 , 23483.951 , 34312.945 ,
       28135.453 , 28575.408 , 22793.479 , 15462.409 , 14882.073 ,
       22782.201 , 28038.53  , 25884.133 , 18932.713 , 25315.383 ,
       28952.193 , 15182.372 , 24283.004 , 23713.928 , 29154.152 ,
       27188.79  , 27379.422 , 16543.682 , 25158.271 , 15213.846 ,
       23429.213 , 23502.666 , 27699.736 , 31166.268 , 23341.256 ,
       35156.08  , 20985.51  , 27008.434 , 15185.82  , 18258.293 ,
       29734.354 , 24609.89  , 28757.006 , 27353.854 , 14749.133 ,
       30186.271 , 17843.111 , 22524.479 , 28301.342 , 15604.508 ,
       23699.771 , 16416.229 , 15497.635 , 25260.135 , 38051.64  ,
       23293.637 , 27724.74  , 24427.102 , 27755.488 , 26398.346 ,
       28150.234 , 28416.404 , 28831.531 , 28520.148 , 15229.128 ,
       22867.357 , 27203.61  , 37565.254 , 27202.496 , 27132.11  ,
       38619.71  , 15020.236 , 28512.809 , 34611.14  , 15664.464 ,
       17055.416 , 28516.578 , 27263.863 , 36463.375 , 24181.111 ,
       25222.129 , 25248.943 , 29228.523 , 28841.695 , 29433.977 ,
       15822.921 , 28462.025 , 16712.4   , 24314.934 , 37654.918 ,
       23372.113 , 25573.324 , 23176.395 , 25850.371 , 27693.08  ,
       21792.697 , 28700.477 , 28950.977 , 28762.143 , 26474.904 ,
       15672.7295, 21408.111 , 25008.639 , 23001.055 , 24399.646 ,
       19952.168 , 23412.049 , 16700.17  , 26398.346 , 22673.695 ,
       14727.662 , 27518.406 , 15305.342 , 27520.428 , 23412.049 ,
       24288.885 , 27802.754 , 16654.736 , 22540.559 , 21024.494 ,
       16835.896 , 27766.607 , 28511.32  , 30073.445 , 28318.676 ,
       27191.242 , 28435.441 , 24097.611 , 15743.29  , 23484.281 ,
       24207.488 , 23179.488 , 22764.252 , 28604.998 , 24565.605 ,
       27085.592 , 15554.554 , 20349.152 , 28990.158 , 19573.951 ,
       21950.447 , 22245.824 , 17103.344 , 39891.14  , 27925.13  ,
       16549.607 , 15070.101 , 23883.314 , 26640.717 , 27724.293 ,
       29250.66  , 28503.84  , 25246.645 , 27948.365 , 27906.252 ,
       38480.22  , 23581.29  , 31090.36  , 15842.2295, 28327.404 ,
       15301.4375, 15194.99  , 22637.27  , 27676.287 , 24367.426 ,
       25117.867 , 19661.473 , 34342.41  , 26212.213 , 22512.303 ,
       24283.004 , 27212.94  , 28037.219 , 23187.938 , 28834.586 ,
       28640.402 , 23483.951 , 22964.504 , 22835.428 , 22814.932 ,
       21243.992 , 24631.766 , 24196.521 ], dtype=float32)

Prediction on Test Data

In [88]:
# accuracy for prediction on test data
test_data_prediction = model.predict(X_test)
test_data_prediction

array([32148.107, 33382.824, 24283.004, 28490.77 , 30655.836, 29757.732,
       15356.   , 28581.29 , 29510.426, 25947.83 , 28088.967, 23661.596,
       16456.482, 24898.75 , 27752.828, 22673.695, 28533.89 , 24902.42 ,
       30016.426, 14801.767, 35391.02 , 24670.521, 25422.438, 17252.31 ,
       24168.35 , 23456.85 , 15710.571, 23499.516, 25762.557, 28590.564,
       28560.42 , 16167.913, 28095.635, 26826.12 , 23477.008, 28015.035,
       23519.332, 14386.603, 22797.162, 23371.994, 15025.9  , 22894.39 ,
       19832.057, 24581.752, 27138.969, 15147.097, 24502.463, 28419.4  ,
       27712.793, 36215.31 , 24715.69 , 14690.018, 28447.785, 26687.717,
       28402.205, 22025.68 , 22500.623, 27868.105, 27924.584, 25304.625,
       24283.004, 14714.933, 28689.883, 24715.69 , 22673.695, 33620.324,
       28419.432, 27232.092, 27264.125, 33433.492, 26775.686, 33608.285,
       24288.885, 36305.812, 38642.996, 16081.326, 17285.172, 28095.723,
       24250.533, 25226.373, 15763.019, 24470.91 , 16219.343, 22671.053,
       28033.271, 26764.629, 27719.766, 31068.045, 14723.022, 22418.936,
       23240.994, 24283.004, 17188.611, 27387.08 , 22931.629, 28614.96 ,
       27604.95 , 15324.224, 23255.775, 24379.205, 14698.354, 27785.969,
       27214.852, 23480.398, 15353.964, 15756.799, 38377.664, 23444.346,
       28491.158, 15344.103, 30216.148, 32163.574, 28976.594, 16193.002,
       14961.499, 23867.352, 37207.223, 28355.564, 15650.382, 26205.268,
       26195.902, 21480.398, 37755.01 , 19812.13 , 33332.734, 27715.627,
       22576.37 , 23774.057, 26643.854, 24288.885, 24529.143, 17022.838,
       27228.725, 28428.96 , 16253.081, 23326.17 , 27679.473, 16725.148,
       27979.252, 15145.188, 28544.2  , 26649.684, 23719.473, 24260.793,
       15978.773, 23079.479, 14174.282, 14726.496, 28368.62 , 23253.701,
       28273.701, 27473.35 , 22790.336, 29201.861, 26775.686, 29219.516,
       24288.885, 25162.191, 23244.867, 22952.07 , 17715.357, 31653.627,
       26502.91 , 22820.326, 22791.611, 17118.018, 18205.178, 28515.264,
       27741.283, 27403.309, 28586.023, 15471.892, 28350.861, 25209.47 ,
       27151.307, 33791.312, 25122.902, 28650.57 , 15005.879, 25185.611,
       24393.967, 24321.42 , 28304.357, 28856.691, 31128.385, 23186.914,
       34552.344, 15404.725, 23483.951, 32557.72 , 23356.713, 25090.748,
       28426.14 , 15119.644, 15528.064, 37259.664, 24476.791, 34022.074],
      dtype=float32)

## XGBRegressor ML model Score

In [89]:
#mean accuracy (accuracy score)
#measuring the accuracy of the model against the training data 
model.score(X_train, Y_train)

0.8791766224293489

In [90]:
#mean accuracy (accuracy score)
#measuring the accuracy of the model against the test data 
model.score(X_test, Y_test)

0.796115496644966

Lets Cross Validate and Check how the model performs.

In [91]:
#cross validation
#it is used to protect against overfitting in a predictive model, 
#particularly in a case where the amount of data may be limited. In cross-validation, 
#you make a fixed number of folds (or partitions) of the data, run the analysis on each fold, and then average the overall error estimate.
#cv = 5 ==> partition the data in2 4 Training & 1 Testing Data parts
print(cross_val_score(model, X, Y, cv = 5))

[04:44:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[04:44:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[04:44:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[04:44:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[04:44:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0.78072397 0.72508556 0.80267643 0.87316903 0.64958212]

Making a Predictive System

In [93]:
#v r predicting by giving the input 
print("***Price of Medical Insurance***")
print('---------------------------------')

a = int(input("Enter the Age of the Customer : "))
b = int(input("Does the Customer has Diabetes (1 = Yes, 0 = No) : "))
c = int(input("Does the Customer has Blood Pressure Problems (1 = Yes, 0 = No) : "))
d = int(input("Does the Customer has Any Transplants (1 = Yes, 0 = No) : "))
e = int(input("Does the Customer has Any Chronic Diseases (1 = Yes, 0 = No) : "))
f = float(input("Height of Customer (in cm) : "))
g = float(input("Weight of Customer (in kg) : "))
h = int(input("Does the Customer has Known Allergies (1 = Yes, 0 = No) : "))
i = int(input("Does the Customer has History Of Cancer In Family (1 = Yes, 0 = No) : "))
j = int(input("Number Of Major Surgeries for Customer : "))

input_data = np.array([[a, b, c, d, e, f, g, h, i, j]])

# changing input_data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print("-----------------------------------------------------------------------------------")

print('The Medical Insurance cost : $', prediction[0])

***Price of Medical Insurance***
---------------------------------
Enter the Age of the Customer : 19
Does the Customer has Diabetes (1 = Yes, 0 = No) : 0
Does the Customer has Blood Pressure Problems (1 = Yes, 0 = No) : 0
Does the Customer has Any Transplants (1 = Yes, 0 = No) : 0
Does the Customer has Any Chronic Diseases (1 = Yes, 0 = No) : 0
Height of Customer (in cm) : 186
Weight of Customer (in kg) : 100
Does the Customer has Known Allergies (1 = Yes, 0 = No) : 1
Does the Customer has History Of Cancer In Family (1 = Yes, 0 = No) : 0
Number Of Major Surgeries for Customer : 0
-----------------------------------------------------------------------------------
The Medical Insurance cost : $ 16104.737

# Summary
So this is how we can build a Medical Insurance Premium Prediction model using Machine Learning and the Python programming language. I hope you liked this project on how to build a  model with Machine Learning.